/* 
0.0.0 nav and sidebar
0.0.1 footer
0.0.2 Button
1 Shoping Kart
2 Adverd Cart
3 Agent Cart
4 CONTENT
5 Admin Box
6 Basarili 
7 PRODUCT PAGE
8 Ödeme Ekranı


*/

/* BUTTON 0.0.2 Button  */
.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Konteynerin yüksekliğini ayarlayın */
}

.btn-1 {
  background: rgb(189, 66, 66);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  border: none;
}

.btn-1:hover {
  background: green;
  background: linear-gradient(0deg, rgb(131, 41, 41), rgb(30, 177, 120) 0%) 100%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 0.0.0 nav and sidebar ---------------------------------------------------------------------------------------------- */
nav {
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 70px;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}
.profilre_dropdown{
  padding: 10px 20px;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 60px;
  right: 5px;
  background-color: #fff;
  color: black;
  display: none;
}
.toggle_profile_dropdown{
  display: block;
}
.profilre_dropdown ul{
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
.profilre_dropdown ul li{
  list-style: none;
}
.profilre_dropdown ul li a{
  color: black;
  text-decoration: none;
}
nav img {
  border: 2px solid black;
  padding: 5px 10px;
  width: 150px;
}
nav img:hover {
  border: 2px solid #fff;
}

nav .searchbar {
  display: flex;
  gap: 0;
}
nav .searchbar button {
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  padding: 0 15px;
  background-color: orange;
}
nav input {
  width: 900px;
  height: 40px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav .links {
  display: flex;
  gap: 20px;
  font-size: 30px;

}
.links i{
  cursor:pointer
}
.bell,.cart{
  position:relative
}
.links span{
  position:absolute;
  font-size:15px;
  width:20px;
  height:20px;
  background:orange;
  color:black;
  border-radius:50%;
 text-align:center;
  font-weight:bold;
  left:20px;
  cursor:pointer;
  
    
}
.bell span{
  left:15px
}
.nav2 {
    display: flex;
    justify-content: center;
    background-color: #232f3e;
    height: 50px;
    align-items: center;
    padding: 0 30px;
  }
  
  .nav2 ul {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav2 ul li {
    list-style: none;
  }
  
  .nav2 ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 1px solid #232f3e;
    padding: 5px 8px;
  }
  
  .nav2 ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  

.sidebar {
  top: 0;
  background-color: #fff;
  color: black;
  position: fixed;
  left: -100%;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow-y: scroll;
  transition: 0.3s;
  z-index: 999;
}
.sidebar .top {
  padding: 10px 30px;
  background-color: #232f3e;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .top button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.sidebar ul {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.sidebar ul .title {
  font-weight: bold;
  font-size: 22px;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  color: #000;
  text-decoration: none;
}
.show {
  left: 0;
}




/* main */



@media only screen and (max-width: 1440px) {
  .nav2 .downloadApp a {
    font-size: 15px;
  }
  .nav2 {
    padding: 0 10px;
  }
  .nav2 ul {
    display: flex;
    gap: 0;
  }
  .nav2 ul li a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1288px) {
  nav input {
    width: 600px;
  }
}

@media only screen and (max-width: 1024px) {
  nav input {
    width: 600px;
  }
  .nav2 ul {
    display: flex;
    gap: 0;
  }
}
@media only screen and (max-width: 998px) {
  nav input {
    width: 400px;
  }
  .nav2 ul {
    display: none;
  }
}

@media only screen and (max-width: 804px) {
  nav input {
    width: 300px;
  }
  nav img {
    width: 100px;
  }
  nav .links {
    gap: 15px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 692px) {
  nav input {
    width: 200px;
    height: 30px;
  }
  nav .searchbar button {
    font-size: 15px;
  }
}
@media only screen and (max-width: 498px) {
  nav input {
    width: 150px;
  }
  nav img {
    width: 70px;
  }
  nav .links {
    gap: 10px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 426px) {
  nav {
    padding: 0 10px;
  }
  .nav2 .menu {
    font-size: 15px;
    padding: 3px 5px;
  }
  .nav2 .downloadApp a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 3px 5px;
  }
  .sidebar {
    left: -120%;
  }
  .show {
    left: 0;
  }
  .sidebar {
    width: 100%;
    gap: 15px;
  }
  .sidebar .top {
    padding: 10px 30px;
    background-color: #232f3e;
    font-size: 20px;
    font-weight: bold;
  }
  .sidebar .top button {
    font-size: 20px;
  }
  .sidebar ul {
    padding: 0 15px;
    gap: 15px;
    font-size: 15px;
  }
  .sidebar ul .title {
    font-weight: bold;
    font-size: 22px;
  }
  .nav2 .menu {
    border: none;
    padding: 0;
    font-size: 13px;
  }
  .nav2 .downloadApp a {
    font-size: 13px;
    border: none;
    padding: 0;
  }
  nav .links div:nth-of-type(1),
  nav .links div:nth-of-type(3) {
    display: none;
  }
}

/* 0.0.1 footer --------------------------------------------------------------------------------------------------------*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}





 /*--------------------
     1-Shop Card
    ---------------------*/
    .shop-card {
      margin: 10px;
      width: 325px;
      height:380px;
      box-shadow: 0 10px 20px rgba(0,0,0,.3);
      overflow: hidden;
      border-radius: 5px;
      padding: 25px;
      z-index: 2;

    }

    .shop-card figure {
      margin: 0;
      padding: 0;
      overflow: hidden;
      outline: none !important;
      width: 100%;  /* Genişlik ayarı */
      height: 200px;  /* Yükseklik ayarı, ihtiyaca göre değiştirin */
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 300px;
  }

  .shop-card figure img {
     
      height: 100%;
      object-fit: cover; /* veya 'contain' */
  }

    .shop-card .title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 5px;
    }

    .shop-card .desc {
      font-size: 17px;
      opacity: .8;
      margin-bottom: 3px;
    }

    .shop-card .cta {
      padding: 20px 20px 5px;
    }

    .shop-card .cta::after {
      content: '';
      display: table;
      clear: both;
    }

    .shop-card .price {
      float: left;
      color: black;
      font-size: 16px;
      font-weight: 900;
      padding-top: 2px;
      transition: color .3s ease-in-out;
      margin-top: 4px;
    }

    .shop-card .btn {
      z-index: 1;
      float: right;
      display: inline-block;
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;
      color: #232f3e;
      padding: 12px 18px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      line-height: .95;
      border: none;
      background: none;
      outline: none;
      border: 1px solid #232f3e;
      border-radius: 20px;
      overflow: hidden;
    }

    .shop-card .btn .bg {
      width: 101%;
      height: 101%;
      display: block!important;
      z-index: -1;
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    .shop-card .btn:hover {
      color: #000000!important;
      border: 1px solid #000000 !important;
    }

    .shop-card .btn:hover .bg {
      opacity: 1;
    }

    .shop-card:hover {
      border-color: #000000 !important; /* Çemberin rengini hover durumunda siyah yapar */
    }

    .shop-container {
      display: flex;
      justify-content: space-around; /* Öğeler arasındaki boşluğu düzenler */
     /* flex-wrap: wrap; /* Öğelerin sığmadığında alt satıra geçmesini sağlar */
      /*gap: 20px; Kartlar arasındaki boşluk*/
    }

    /*--------------------
    Slick Dots
    ---------------------*/
    .slick-dots {
      bottom: -30px;
    }

    .slick-dots a {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
    }

    .slick-dots span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    .slick-dots circle {
      fill: none;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-dasharray: 39 39;
      stroke-dashoffset: 39;
      transition: all .9s ease-in-out;
      transition: stroke-dashoffset 0.5s;
    }

    .slick-dots .slick-active circle {
      stroke-dashoffset: 0;
    }

    /*--------------------
    Media Queries
    ---------------------*/
    @media (max-width: 1440px) {
      .shop-card {
        flex: 1 1 45%;
    
      }
    }

    @media (max-width: 768px) {
      .shop-card {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }


    /* loginpage --------------------------------------------------------------------------------------------------------------------*/

    @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*
{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; 
}

.hero
{
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg,#000000,#363535);
  background-size: cover;
  position: absolute;
}

.formbox
{
  width: 380px;
  height: 580px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px; 
  overflow: hidden;
  border-radius: 20px;
}

.buttonbox
{
  width: 220px;
  margin: 35px auto;
  position: relative;		
  border-radius: 30px;
}
.togglebtn
{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
  color: black; 
  transition: color 0.25s;
}

.togglebtn:hover,
.togglebtn:focus,
.togglebtn:active
{
  color: white; 
}
#btn
{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,#000000,#363535);
  border-radius: 30px;
  transition: 0.5s;
}

.socialicon
{	
  margin: 30px auto;
  text-align: center;
}

.socialicon i:hover
{	
  font-size: 40px;
  color: black;
}

.input
{
  top: 75px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.inputfile
{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1.5px solid #3498db;
  outline: none;
  color: #30336b;
  font-size: 15px;
  background: none; 
}

.submitbtn
{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,#000000,#363535);
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: 0.25s;
  color: white;
}

.checkbox
{
	height :10px;
  margin-top: 5px;
  left: 10px
}

spann
{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login
{
  left: 50px;
}

#register
{
  left: 450px;
}


	/*  ADVERD CARD  */

  .advert-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.advert-card {
    width: 50%;
    height: 10%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.advert-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Agent Card */



.agent-section-1 {
  padding: 100px 0;
  background: url(../img/team/agent-bg.jpg);
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.agent-section-1.overview-bgi:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.agent-section-1 h1 {
  color: #e4e3e3;
  font-weight: 700;
  font-size: 27px;
  margin: 0 0 40px;
  text-transform: uppercase
}

.agent-section-1 .slider-mover-left {
  width: 30px;
  height: 50px;
  line-height: 50px;
  position: inherit;
  border-radius: 0;
  top: 45%;
  background: #15151559;
  border: solid 1px #e4e3e3;
}

.agent-section-1 .slider-mover-right {
  width: 30px;
  height: 50px;
  line-height: 50px;
  position: inherit;
  border-radius: 0;
  top: 45%;
  background: #15151559;
  border: solid 1px #e4e3e3;
}

.agent-section-1 .t-slider-r i {
  font-size: 18px;
  color: #e4e3e3;
}

.agent-section-1 .t-slider-l i {
  font-size: 18px;
  color: #e4e3e3;
}

.agent-section-1 h2 {
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 27px;
  color: #fff;
}

.agent-section-1 p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
  color: #fff;
}

.agent-section-1 .sec-title-three{
  padding: 118.5px 0 0;
}

.agent-section-1 .item{
  margin:0 30px;
}

/** SOCIAL MEDIA AREA START **/
.social-media-area .icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
}

.img-responsive {
  width: 100%;
}




/** Agent 1 start **/
.agent-1 {
  padding: 50px 10px 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.agent-1:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agent-1:before, .agent-1:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.agent-1:before {
  text-align: left;
}

.agent-1 .member-name {
  font-size: 20px;
  font-weight: 600;
  margin:0 0 7px;
}

.agent-1 .member-designation{
  font-size: 17px;
}

.agent-1 .member-thumb {
  width: 170px;
  height: 170px;
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
}

.agent-1 .member-thumb img {
  width: 100%;
}

.agent-1:hover .team-hover-content {
  visibility: visible;
  opacity: 1;
}

.agent-1 .team-hover-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: .8s;
  opacity: 0;
  visibility: hidden;
}

.agent-1 .team-hover-content .member-thumb {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.agent-1 .team-hover-content .member-name-designation{
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 30px 0;
  background: linear-gradient(0,#1f2cc4b8,rgb(255 171 74 / 0%));
  margin-bottom: 0;
  padding-bottom: 70px;
}

.agent-1:hover h4 a{
  color: #fff;
}

.agent-1 .team-hover-content .member-name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin:0 0 7px;
  transform: translateY(50px);
  transition: all .4s cubic-bezier(.76,.21,.32,.85);
  transition-delay: .3s;
  opacity: 0;
}

.agent-1 .team-hover-content .member-designation {
  transform: translateY(50px);
  transition: all .4s cubic-bezier(.76,.21,.32,.85);
  transition-delay: .2s;
  transform: translateY(50px);
  opacity: 0;
  color: #fff;
  font-size: 17px;
}

.agent-1:hover .team-hover-content .member-name {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .1s;
}

.agent-1:hover .team-hover-content .member-designation {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .2s;
}

.agent-1:hover .member-socials {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .3s;
}

.agent-1 .member-socials {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  transform: translateY(50px);
  transition: all .4s cubic-bezier(.76,.21,.32,.85);
  transition-delay: .1s;
  opacity: 0;
}

.agent-1 .member-socials a {
  display: inline-block;
  text-align: center;
  transition: .3s;
  margin: 0 0 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  color: #262525;
  font-size: 16px;
}

.agent-1 .member-socials a:hover{
  color: #fff;
}

.agent-1 .social-list a {
  margin: 0 0 3px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  background: #f3f3f3;
  border-radius: 3px;
  display: inline-block;
  color: #262525;
}

.agent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.agent-container .item {
  flex: 0 0 calc(25% - 30px); /* Öğeler arasındaki boşlukları ekledik */
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 30px; /* Öğelerin alt boşluğunu ayarladık */
}


/* CONTENT  */

.content-area-6 {
  padding: 100px 0 50px;
}

/** CONTACT 3 AREA START **/
.contact-3 .contact-info {
  text-align: center;
}

.contact-3 .contact-info strong {
  font-weight: 500;
  font-size: 14px;
  color: #525252;
}

.contact-3 .contact-info i {
  font-size: 24px;
  color: #4c97e2;
}

.contact-3 .contact-info p {
  margin: 0;
  font-size: 15px;
}

.contact-3 .form-control {
  width: 100%;
  font-size: 15px;
  background: #fff;
  outline: 0;
  border-radius: 3px;
  border: 2px solid green;
}

.contact-3 .form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #fff;
  outline: 0;
}

.contact-3 .btn-4{
  line-height: 58px;
}

.contact-3 .form-floating>label {
  padding: 1rem 1rem;
}

.contact-3 .mb-3 {
  margin-bottom: 20px!important;
}

.contact-3 .form-floating {
  color: #343434;
}

.contact-3 .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.contact-3 textarea {
  min-height: 250px;
}

.contact-3 .btn-message {
  border-radius: 50px;
  padding: 10px 60px 11px;
}

.contact-3 .contact-info-2 {
  padding: 40px;
  border-radius: 5px;
  margin-left: 50px;
  background: #fff;
  border: 2px solid green;
}

.contact-3 .contact-info-2 .ci-box i {
  font-size: 25px;
  width: 65px;
  height: 65px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 100%;
  line-height: 65px;
}

.contact-3 .contact-info-2 .ci-box h5 {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 5px;
}

.contact-3 .contact-info-2 .ci-box p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.contact-3 .contact-info-2 .ci-box {
  position: relative;
}

.contact-3 .contact-info-2 .ci-box .detail{
  margin-left: 15px;
}

.contact-3 .button-md{
  height: 58px;
}

.contact-3 .form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
}


/* 5 ADMİN BOX */ 


/* Ortak kutu stili */
.box-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.box {
  width: 30%;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.box:hover {
  background-color: #ddd;
}


/* Form konteyneri ve bileşenleri için stil */
.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 800px
}

.image-upload {
  text-align: center;
}

.image-upload input[type="file"] {
  display: none;
}

.image-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #232f3e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-upload label:hover {
  background-color: black;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-fields input,
.form-fields select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #232f3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-product-btn:hover {
  background-color: black;
}

.box-content {
  width: 60%;
  margin: 0 auto;
}


.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Altta çizgi */
  padding-bottom: 10px; /* Alt boşluk */
  margin-bottom: 10px; /* Aralık */
}

.icon-delete {
  cursor: pointer;
  color: #000000;
}

.icon-delete:hover {
  color: #ff0000;
}

.icon-tick {
  cursor: pointer;
  color: #000000;
}

.icon-tick:hover {
  color: #3cff00;
}

.icon-pencil {
  cursor: pointer;
  color: #000000;
}

.icon-pencil:hover {
  color: #435cec;
}

.icon-delete,
.icon-pencil,
.icon-tick {
    position: relative;
    cursor: pointer; 
}

.icon-delete:hover::after,
.icon-pencil:hover::after,
.icon-tick:hover::after {
    content: attr(aria-label);
    display: block; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.3s;
}

.icon-delete:hover::after,
.icon-pencil:hover::after,
.icon-tick:hover::after {
    opacity: 1; 
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Altta çizgi */
  padding-bottom: 10px; /* Alt boşluk */
  margin-bottom: 10px; /* Aralık */
}

.item-content {
  display: flex;
  align-items: center; /* Dikey hizalama */
}

.item-details {
  margin-left: 20px;
  flex: 1; /* Genişlik konusunda esneklik */
}

.item-name {
  font-weight: bold;
}

.item-price {
  margin-left: 10px;
  color: #333;
}

.item-description {
  margin-top: 5px;
  color: #666;
}

/* 6 BASARİLİ  */

svg {
  width: 150px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    animation-delay: 1000ms;
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }

  &.line {
    animation-delay: 1000ms;
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }

  &.check {
    animation-delay: 1000ms;
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;

  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

/* 8 Ödeme Ekranı  */ 

.wrapper {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 3em;
  border-radius: 1em;
  perspective: 800px;
}
.credit-card {
  position: relative;
  width: 350px;
  height: 220px;
  margin: auto;
  transform-style: preserve-3d;
  transition: 0.3s;
}
.card-front,
.card-back {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(#33a4f8, #206df9);
  border-radius: 1em;
  backface-visibility: hidden;
}
.card-front {
  padding: 2em 1em;
}
.branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.branding img {
  width: 50px;
  height: auto;
}
.card-back {
  position: absolute;
  transform: rotateY(180deg);
}
.card-number {
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 3em;
}
.details {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  font-size: 0.8em;
}
.details span {
  display: block;
}
.details #card-holder-name {
  text-transform: uppercase;
}
.card-back .black-strip {
  position: relative;
  background-color: #000000;
  height: 50px;
  top: 2em;
}
.card-back .white-strip {
  top: 3em;
  position: relative;
  text-align: right;
}
.card-back .white-strip span {
  margin-right: 1em;
}
.card-back .white-strip div {
  height: 30px;
  background-color: #d1bdbd;
  margin-top: 0.5em;
}
.card-back .visa-logo {
  position: absolute;
  width: 50px;
  margin-top: 4em;
  right: 1em;
}
form {
  margin-top: 2em;
}
label,
input {
  display: block;
}
label {
  margin-bottom: 0.5em;
  font-weight: 600;
}
label {
  margin-bottom: 0.5em;
  font-weight: 600;
}
input {
  width: 100%;
  border: 1px solid #000000;
  padding: 1em 0.5em;
  border-radius: 0.5em;
}

form .date-cvv {
  display: flex;
  justify-content: space-between;
}

/*  PRODUCT PAGE   */
.description {
  border-top: 1px solid #e3dddd;
  margin: 2rem 0;
  padding: 1rem 0 0 0;
}

.product-page-container {
  margin: 8rem auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

.grid.product {
  display: flex;
  flex-wrap: wrap;
}

.product-image,
.product-details {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .product-image,
  .product-details {
      width: 50%;
  }

  .product-image img {
      height: 48vh;
  }
}